{% extends 'base.html.twig' %}

{% block title %}Detalle de la Tarea{% endblock %}

{% block body %}
    <div class="card" style="width: 92%; margin: auto;margin-top: 10px;background: white;">
        <div class="example-wrapper">

            <table class="table table-striped table-sm">
                <tr>
                    <th>Имя</th>
                    <th>Позиция</th>
                    <th>Email</th>
                    <th>Действия</th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td>{{ user.fullName }}</td>
                        <td>{{ user.position }}</td>
                        <td>{{ user.email }}</td>
                    </tr>
                {% endfor %}
        </div>
    </div>


{% endblock %}